html, body {
  font-family:monospace;
  margin: 0;
  padding: 0;
  color: darkmagenta
}

canvas {
  display: block;
  text-align: center;
}

div.texto{
  margin:3rem auto;
  width:min(90vw, 800px);
  padding:1rem;
  text-align: left;
  background:rgba(255,255,255,.3);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

ol{
  margin:0;
  padding:0;
}

li{
  list-style: none;
  line-height: 2rem;
  border-bottom:2px solid darkmagenta;
  display:flex;
  padding:0.3rem 0;

}

li img {
  border-radius: 50% 50%;
  width:2rem;
  height:2rem;
  margin-right:1rem;
}
